
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    text-align: center;
  }
  
  p {
    margin: 0;
  }
  p {
    text-align: center;
  }
  a {
    margin: auto;
    padding-left: 9px;
    border-left: solid 1px #0a0a0aaa;
    padding-right: 8px;
  }
div.content {
  text-align: center;
   }
  
